services/order/HELP.md
services/order/.gradle
services/order/build/
services/order/!gradle/wrapper/gradle-wrapper.jar
services/order/!**/src/main/**/build/
services/order/!**/src/test/**/build/

### STS ###
services/order/.apt_generated
services/order/.classpath
services/order/.factorypath
services/order/.project
services/order/.settings
services/order/.springBeans
services/order/.sts4-cache
services/order/bin/
services/order/!**/src/main/**/bin/
services/order/!**/src/test/**/bin/

### IntelliJ IDEA ###
services/order/.idea
services/order/*.iws
services/order/*.iml
services/order/*.ipr
services/order/out/
services/order/!**/src/main/**/out/
services/order/!**/src/test/**/out/

### NetBeans ###
services/order//nbproject/private/
services/order//nbbuild/
services/order//dist/
services/order//nbdist/
services/order//.nb-gradle/

### VS Code ###
services/order/.vscode/

# binaries & local db
services/inventory/bin/
services/inventory/*.db
services/inventory/*.sqlite
services/inventory/*.sqlite3
services/inventory/*.DS_Store

# IDE
services/inventory/.idea/
services/inventory/.vscode/

services/payment/HELP.md
services/payment/.gradle
services/payment/build/
services/payment/!gradle/wrapper/gradle-wrapper.jar
services/payment/!**/src/main/**/build/
services/payment/!**/src/test/**/build/

### STS ###
services/payment/.apt_generated
services/payment/.classpath
services/payment/.factorypath
services/payment/.project
services/payment/.settings
services/payment/.springBeans
services/payment/.sts4-cache
services/payment/bin/
services/payment/!**/src/main/**/bin/
services/payment/!**/src/test/**/bin/

### IntelliJ IDEA ###
services/payment/.idea
services/payment/*.iws
services/payment/*.iml
services/payment/*.ipr
services/payment/out/
services/payment/!**/src/main/**/out/
services/payment/!**/src/test/**/out/

### NetBeans ###
services/payment//nbproject/private/
services/payment//nbbuild/
services/payment//dist/
services/payment//nbdist/
services/payment//.nb-gradle/

### VS Code ###
services/payment/.vscode/

### Kotlin ###
services/payment/.kotlin